@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
}
  
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(136, 137, 137, 1), rgba(74, 78, 84, 1)); 
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
background: linear-gradient(180deg, rgba(136, 137, 137, 0.8), rgba(74, 78, 84, 0.8));
}